{% extends "schedule_app/base_template.html" %}

{% block content %}
<h1>List of Supplies</h1>
    {% if supplytask_list %}
        <ul class="list-group">
            {% for supply in supplytask_list %}
            <li class="list-group-item">
                <a class="btn btn-success" href="{{ supply.get_absolute_url }}"> {{supply}}</a>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no saved supplies</p>             
    {% endif %}
    {% if request.user.is_authenticated %}
    <a href="{% url 'supply-add' %}" class="btn btn-primary" id="add-b">Add</a>
    {% endif %}


{% endblock %}